@{
    ViewData["Title"] = "Elo";
}

<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6 text-center">
        <h2>Taxas de Câmbio</h2>
    </div>
    <div class="col-md-6">&nbsp;</div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <label>Selecione a moeda desejada: </label>
            <button class="btn btn-primary currency" value="BRL">Dolar</button>
            <button class="btn btn-primary currency" value="EUR">Euro</button>
            <button class="btn btn-primary currency" value="ARS">Peso Argentino</button>
        </div>
        <div class="col-md-3">&nbsp;</div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div id="container"></div>
    </div>
    <div class="col-md-3">&nbsp;</div>
</div>

@section Scripts{

    <script type="text/javascript">
        $('.currency').click(function (event) {
            
            var $this = $(this);
            var loadingText = 'Carregando...';
            if ($this.html() !== loadingText) {
                $this.data('wait-text', $this.html());
                $this.html(loadingText);
            }

            $.get('Home/GetTaxasDeCambio', { moeda: event.target.value }, function (data, status) {

                if (status == 'success') {
                    var serie = [];
                    var categories = [];
                    for (var i = 0; i < data.length; i++) {
                        var dataCambio = Number(new Date(data[i].dataCambio));
                        serie.push([dataCambio, data[i].valor])
                        categories.push(dataCambio);
                    }

                    configureChart(serie, categories);

                    setTimeout(function () {
                        $this.html($this.data('wait-text'));
                    }, 500);
                }
                else {
                    alert('Oops! Ocorreu um erro ao recuperar o câmbio. Tente novamente.')

                    setTimeout(function () {
                        $this.html($this.data('wait-text'));
                    }, 500);
                }
            });
        });

        function configureChart(serieData, categoriesData) {
            Highcharts.chart('container', {
                title: {
                    text: 'Gráfico de cotações de câmbio - Elo'
                },
                yAxis: {
                    title: {
                        text: 'Valor (R$)'
                    }
                },
                xAxis: {
                    type: 'datetime',
                    tickInterval: 24 * 3600 * 1000,
                    tickPositions: categoriesData,
                    labels: {
                        format: '{value:%d/%m}',
                        rotation: 270
                    }
                },
                tooltip: {
                    xDateFormat: '%d/%m/%Y',
                    textAlign: 'center'
                },
                series: [{
                    name: 'Cotação',
                    data: serieData
                }]
            });
        }
    </script>

}